<!--The content below is only a placeholder and can be replaced.-->
<h1>Application says what?</h1>
<ul>
  <li *ngFor="let value of apiValues">{{value}}</li>
</ul>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active">
        <a routerLink="create" routerLinkActive="active">
          Add coins
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
