<table class="table table-hover">
  <thead>
    <tr>
      <td>Coin Name</td>
      <td>Coin Price</td>
      <td colspan="2">Actions</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let coin of coins">
      <td>{{ coin.name }}</td>
      <td>{{ coin.price }}</td>
      <td><a [routerLink]="['/edit', coin.id]" class="btn btn-primary">Edit</a></td>
      <td><button (click)="deleteCoin(coin.id)" class="btn btn-danger">Delete</button></td>
    </tr>
  </tbody>
</table>
